In [1]:
#pip install pandas

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = Path("Starter_Code\PyCitySchools\Resources\schools_complete.csv")
student_data_to_load = Path("Starter_Code\PyCitySchools\Resources\students_complete.csv")

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(str(school_data_to_load))
student_data = pd.read_csv(str(student_data_to_load))

FileNotFoundError: [Errno 2] No such file or directory: 'Starter_Code\\PyCitySchools\\Resources\\schools_complete.csv'

In [8]:
# show school_data
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [9]:
# show student_data
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [10]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [11]:
# Identify the column containing school names
school_name = school_data_complete['school_name']
school_name

0         Huang High School
1         Huang High School
2         Huang High School
3         Huang High School
4         Huang High School
                ...
39165    Thomas High School
39166    Thomas High School
39167    Thomas High School
39168    Thomas High School
39169    Thomas High School
Name: school_name, Length: 39170, dtype: object

In [12]:
# Count the number of unique school names
unique_schools_count = school_name.nunique()
unique_schools_count

15

In [13]:
# Identify the column containing school names
student_name = school_data_complete['student_name']
student_name

0             Paul Bradley
1             Victor Smith
2          Kevin Rodriguez
3        Dr. Richard Scott
4               Bonnie Ray
               ...
39165         Donna Howard
39166            Dawn Bell
39167       Rebecca Tanner
39168         Desiree Kidd
39169      Carolyn Jackson
Name: student_name, Length: 39170, dtype: object

In [14]:
# Calculate the total number of students
student_count = student_name.count()
student_count

39170

In [15]:
# Calculate the total budget - total_budget is the variable, school_data is the frame being referenced, 
# budget is in quotations because it is a string and budget is the column being called,
# .sum() is the function and comes at the end
total_budget = school_data['budget'].sum()
print(total_budget)

24649428

In [16]:
# Calculate the average 
average_math_score = student_data['math_score'].mean()
average_math_score

78.98537145774827

In [17]:
# Calculate the average (mean) reading score
average_reading_score = student_data['reading_score'].mean()
average_reading_score

81.87784018381414

In [18]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [19]:
# Calculate average reading score (reading scores greather than or equal to 70)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [20]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [21]:
# Create a dictionary with the key metrics
district_metrics = {
    'Metric': ['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing'],
    'Value': [15, 10000, 1000000, 80, 85, 75, 80, 70]
}

# Create a DataFrame from the dictionary
district_df = pd.DataFrame(district_metrics)

# Format the desired columns
district_df['Value'] = district_df['Value'].apply(lambda x: "{:,}".format(x) if isinstance(x, int) else "${:,.2f}".format(x))

# Display the DataFrame
print(district_df)

                  Metric      Value
0          Total Schools         15
1         Total Students     10,000
2           Total Budget  1,000,000
3     Average Math Score         80
4  Average Reading Score         85
5         % Passing Math         75
6      % Passing Reading         80
7      % Overall Passing         70

In [1]:
# Assuming you have the original district DataFrame called district_df
district_df = pd.DataFrame({
    'School Name': ['Huang High School', 'Figueroa High School', 'Shelton High School',
    'Hernandez High School', 'Griffin High School',
    'Wilson High School', 'Cabrera High School', 'Bailey High School',
    'Holden High School', 'Pena High School', 'Wright High School',
    'Rodriguez High School', 'Johnson High School', 'Ford High School',
    'Thomas High School'],
    'Total Students': [10,000, ],
    'Budget': [100000, 150000, 200000],
    'Math Score': [80, 85, 90],
    'Reading Score': [85, 90, 95]
})

#Print
print(district_df)

NameError: name 'pd' is not defined